<a href="https://colab.research.google.com/github/Sourav-Manik/Python_Programming/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4 types of Data Structures:

1. List
2. Tuple
3. Sets
4. Dictionary

##1.List

1D

Allows duplicate elements

Mutable

Indexing and Slicing can be done

Heterogenous ex-[milk,egg,2] nos. and string can be given

In [ ]:
empty_cart = []

In [ ]:
empty_cart

[]

In [ ]:
type(empty_cart)

list

In [ ]:
item_to_buy = ['oats','milk','milk','eggs']
item_to_buy

['oats', 'milk', 'milk', 'eggs']

In [ ]:
type(item_to_buy)

list

In [ ]:
item_to_buy[1]   #Indexing

'milk'

In [ ]:
item_to_buy[2:4]  #Slicing

['milk', 'eggs']

In [ ]:
item_to_buy[1] = 'beans'

In [ ]:
#list is mutable - it means we can change the values in a list.

In [ ]:
item_to_buy

['oats', 'beans', 'milk', 'eggs']

In [ ]:
item_to_buy.append('Mushroom')

In [ ]:
item_to_buy

['oats', 'beans', 'milk', 'eggs', 'Mushroom']

##2.Sets

1D

Heterogenous

Dosen't allow duplicate elements

Mutable

Indexing and Slicing is not possible

In [ ]:
empty_cart_2 = set()
empty_cart_2

set()

In [ ]:
type(empty_cart_2)

set

In [ ]:
item_to_buy_2 = {'oats','milk','milk','eggs'}
item_to_buy_2

{'eggs', 'milk', 'oats'}

In [ ]:
type(item_to_buy_2)

set

In [ ]:
item_to_buy_2.add('chicken')

In [ ]:
item_to_buy_2

{'chicken', 'eggs', 'milk', 'oats'}

##3.Tuple

1D

Heterogenous

Immutable

Indexable and Sliceable

Alows duplicate values

In [ ]:
empty_cart_3 = tuple()
empty_cart_3

()

In [ ]:
type(empty_cart_3)

tuple

In [ ]:
item_to_buy_3 = ('oats','milk','milk','eggs')
item_to_buy_3

('oats', 'milk', 'milk', 'eggs')

In [ ]:
item_to_buy_4 = 'oats','milk','milk','eggs' #default data structure is tuple in python
item_to_buy_4

('oats', 'milk', 'milk', 'eggs')

In [ ]:
type(item_to_buy_4)

tuple

In [ ]:
item_to_buy_4[3]

'eggs'

In [ ]:
item_to_buy_4[:4]

('oats', 'milk', 'milk', 'eggs')

In [ ]:
item_to_buy_4[:-1]

('oats', 'milk', 'milk')

## 4.Dictionaries

It is a **key-value** pair

2D

Heterogenous

Duplicate - 

a. Key pair   = Not allowed

b. Value pair = Allowed

Indexing not allowed

In [ ]:
empty_cart_4 = {}
empty_cart_4

{}

In [ ]:
type(empty_cart_4)

dict

In [ ]:
learner_details = {'fname': 'raj',
                   'age': 21,
                   'company':'IBM',
                   'fname': 'raj'} #dictionary can have duplicate values but not duplicate keys
learner_details

{'fname': 'raj', 'age': 21, 'company': 'IBM'}

In [ ]:
type(learner_details)

dict

In [ ]:
learner_details.keys()

dict_keys(['fname', 'age', 'company'])

In [ ]:
learner_details.values()

dict_values(['raj', 21, 'IBM'])

In [ ]:
learner_details_2 = {'fname': ['raj','rohit','ritik','aman'],
                   'age': [21,18,21,22],
                   'company':['IBM','Meta','Clerx','Pamossa']
                   } #dictionary can have duplicate values but not duplicate keys
learner_details_2

{'fname': ['raj', 'rohit', 'ritik', 'aman'],
 'age': [21, 18, 21, 22],
 'company': ['IBM', 'Meta', 'Clerx', 'Pamossa']}

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(data=learner_details_2)

   fname  age  company
0    raj   21      IBM
1  rohit   18     Meta
2  ritik   21    Clerx
3   aman   22  Pamossa

In [ ]:
#End